.movie {
    transition: .6s;
    cursor: pointer;
}

.movie:hover {
    transform: translateY(-10px);
}

.movie .movie__poster {
    height: 180px;
}

.movie .movie__poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie .movie__summary {
    font-size: 1em;
    color: rgb(73, 80, 87);
}

.movie .genres {
    font-size: .9em;
}